* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.margin-top-15 {
    margin-top: 15px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-45 {
    margin-top: 45px;
}

.margin-top-60 {
    margin-top: 60px;
}

.margin-top-75 {
    margin-top: 75px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-45 {
    margin-bottom: 45px;
}

.margin-bottom-60 {
    margin-bottom: 60px;
}

.margin-bottom-75 {
    margin-bottom: 75px;
}


.container {
    display: inline;
    block-size: 2px;
    justify-content: center;
    column-gap: 10px;

}

.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}


.square-1 {
    width: 100px;
    height: 100px;

    transition: background-color 1s, transform 2s, border-radius 5s, border 0.5s, width 3s;
}

.square-1:hover {
    background-color: rgb(255, 0, 0);
}

.ex-2-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}

.square-2 {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 0);
    transition: background-color 1s, transform 2s, border-radius 5s, border 0.5s, width 3s;
}

.square-2:active {
    width: 200px;
    height: 200px;
}

.ex-3-square {
    width: 100px;
    height: 100px;
    background: white;
}

.square-3 {
    width: 100px;
    height: 100px;
    transition: background-color 1s, transform 2s, border-radius 5s, border 0.5s, width 3s;
}

.square-3:active {
    border-radius: 50%;
    transform: rotate(90deg);
    width: 100px;

}

.square-3:hover {
    background-color: red;
    border: solid 5px black;
}

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
}

.square-4 {
    width: 100px;
    height: 100px;
    transition: background-color 3s, transform 2s, border-radius 5s, border 0.5s, width 3s;

}

.square-4:active {
    transform: rotate(90deg);
    width: 100px;
    background-color: white;
    border: solid 5px white;

}

.square-4:hover {
    background-color: white;
    border: solid 0px white;
}

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
}


.square-5 {
    width: 100px;
    height: 100px;
    transition: background-color 3s, transform 2s, border 0.5s, width 3s;

}

.square-5:hover {
    background-color: red;
    width: 80px;
    height: 80px;
}

.square-5:active {
    width: 20px;
    height: 20px;
}

.ex-6-image {
    width: 500px;
}

