/* questo è il file delle soluzioni che devo compilare */
.ex-1-square:hover {
    background-color: red;
}

.ex-1-square {
    transition: 2s;
}

.ex-2-square {
    background: red;
    transition: all 4s;
}

.ex-2-square:active {
    height: 100px;
    width: 900px;
}

.ex-3-square {
    background-color: red;
    transition: all 3s;
}

.ex-3-square:hover {
    background-color: red;
    border-radius: 50%;
}

.ex-4-square {
    transition: all 2s;
    opacity: 2;
}

.ex-4-square:hover {
    opacity: 0;
}

.ex-5-square {
    background-color: red;
    transition: all 4s;
}

.ex-5-square:hover {
    height: 100px;
    width: 100px;
}

.ex-5-square:active {
    height: 30px;
    width: 30px;

}